Makefile.config
.mirage.config
*/Makefile
Makefile.solo5-hvt
_build-solo5-hvt/
_build/
*.hvt
key_gen.ml
main.ml
mirage-unikernel-*.opam
myocamlbuild.ml
solo5-hvt
secondary_git

*pcap
*out
*key
*private
*native
static*ml*
info_gen.ml*

*req
*pem

00-hello/hello
01-app-info/app_info
02-dns-client/dns_client
03-web-client/web_client
04-web-server/web_server
05-resolver/resolver
